.page-numbers {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  line-height: 50px;
  color: #5e5e5e;
  text-align: center;
  text-decoration: none;

  &.current {
    background-color: rgba(94, 94, 94, 0.1);
  }

  &.next, &.prev {
    display: none;
  }
}

