.post__image {
  position: relative;
  flex-basis: 100%;
  box-sizing: border-box;

  @media (min-width: 992px) {
    flex-basis: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0);

    will-change: background;
    transition: all .2s ease-in-out;
  }

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  &:hover:after {
    background: rgba(0,0,0,.2);
  }
}
